/**
 * Stylesheet for Enricher boxes
 */

.mw-enricher-box {
	padding: 1ex;
	margin: 1ex;
	border: 1px solid black;
	background-color: #DDDDDD;

	display: block;
	clear:right;
	float:right;
	min-width: 20px;
	max-width: 33%;
}
